<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>用户列表</title>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/asserts/vendor/fontawesome-free/css/all.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/asserts/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/asserts/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:insert="~{common/sidebar :: sidebar}"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="padding-left: 240px;">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:insert="~{common/topbar::topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">用户列表</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>头像</th>
                                    <th>用户名</th>
                                    <th>邮箱</th>
                                    <th>余额</th>
                                    <th>简介</th>
                                    <th>注册时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>头像</th>
                                    <th>用户名</th>
                                    <th>邮箱</th>
                                    <th>余额</th>
                                    <th>简介</th>
                                    <th>注册时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="user:${userList}" th:object="${user}">
                                    <td>
                                        <img id="user-avatar" data-toggle="modal" data-target="#imgModal"
                                             style="width: 50px;height: 50px;object-fit: cover;" th:src="@{'/uploads/'+${user.avatar}}" src="">
                                    </td>
                                    <td th:text="*{username}"></td>
                                    <td th:text="*{email}"></td>
                                    <td th:text="*{balance}"></td>
                                    <td th:text="*{des}"></td>
                                    <td th:text="*{createdat}"></td>
                                    <td th:object="${user}">
                                        <span th:if="*{status} eq 1">正常</span>
                                        <span th:if="*{status} eq 2">创意人</span>
                                        <span th:if="*{status} eq 0">禁用</span>
                                    </td>
                                    <td>
                                        <div class="btn-circle btn-success btn-sm"><i class="fas fa-check"></i></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:insert="~{common/footer::footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- img Modal -->
<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <img id="model-img" th:src="">
            <div>1111111111</div>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/asserts/vendor/jquery/jquery.min.js"></script>
<script src="/asserts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/asserts/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/asserts/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/asserts/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/asserts/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/asserts/js/demo/datatables-demo.js"></script>
<script>
    $("#user-avatar").click(function () {
        $("#model-img").attr("src", $(this).attr("src"));
    });
</script>

</body>

</html>
